
algorithm_practice/.project
algorithm_practice/.classpath
algorithm_practice/.settings/org.eclipse.jdt.core.prefs
algorithm_practice/.settings/org.eclipse.ltk.core.refactoring.prefs
algorithm_practice/.settings/org.eclipse.wst.common.project.facet.core.xml
